.container {
  width: 1500px;
  margin: 0 auto;
}

.center__align {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.text__center {
  text-align: center;
}

.login__register__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__register__form h2,
.login__register__form h3 {
  text-align: center;
  margin: 25px 0;
}

.login__register__form p {
  text-align: center;
  margin-top: 25px;
}

.login__register__form form {
  border: 1px solid lightgrey;
  padding: 30px;
  border-radius: 10px;
}

.login__register__form form label {
  margin: 10px 0;
  font-weight: 600;
  display: block;
}

.login__register__form form input {
  font-family: inherit;
  width: 400px;
  border: 1px solid lightgrey;
  padding: 8px 20px;
  display: block;
  margin-bottom: 30px;
  border-radius: 5px;
}

.login__register__form form input:focus {
  outline: 2px solid lightgrey;
}

button,
.login__register__form form input[type='submit'] {
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  vertical-align: middle;
  background-color: #f0c14b;
  color: #111;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding: 10px 20px;
}

footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #111;
}

.active {
  font-weight: 800;
}

@media only screen and (max-width: 1550px) {
  .container {
    width: 95%;
  }
}
